.button {
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: var(--font-main);
    transition: var(--transition);
  }
  
  .primary {
    color-scheme: button;
    background-color: var(--btn-bg);
    color: #ffffff;
  }
  
  .primary:hover {
    background-color: var(--btn-hover);
  }
  
  .danger {
    color-scheme: button;
    background-color: var(--danger-bg);
    color: white;
  }
  
  .danger:hover {
    background-color: var(--danger-hover);
  }
  
  .edit {
    color-scheme: button;
    background-color: var(--edit-bg);
    color: var(--text-color);
  }
  
  .edit:hover {
    background-color: var(--edit-hover);
  }
  
  /* Адаптивные стили для кнопок */
  @media (max-width: 480px) {
    .button {
      padding: 8px 12px;
      font-size: 0.9rem;
    }
  }